{% extends 'base.html.twig' %}

{% block title %}Edit Album Artist{% endblock %}

{% block body %}
    <a href="{{ path('album_show', {'id': album.id }) }}">Back to album</a>
    <h1>Album {{ album.title }} create at {{ album.createdAt.format('d/m/Y') }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}